body{
    background-color: #ece3c4;
    background: linear-gradient(to right, #1b416d , #ece3c4  );
    height: auto;
}

.bg{
    background-image: url(img/inicio-login.png);
    background-position: center center;
    height: 600px;
    background-size: cover;
}

body .modal-content{
    color: #ffffff;
    background-color: rgba(27, 65, 109, 0.5);
}

body .btnIngresar{
width: 150px;
}

body .divIngresar{
text-align: center;
}

.loginVentana{
    height: 600px;
}

/* Estilos para el alerta de registro exitoso */
/* Estilo para el alerta de éxito */
.alert.alert-success {
    opacity: 1; /* Hacer el alerta visible */
    transition: opacity 2s ease-in-out; /* Transición de opacidad con duración de 2 segundos */
  }
  
  /* Estilo para difuminar el alerta */
  .alert.alert-success.hide {
    opacity: 0; /* Ocultar el alerta */
  }