
body{
    background: linear-gradient(to right, #1b416d, #ece3c4  );
    background-image: url(img/inicio-login.png);
    background-size: cover;
    
}

@media (max-width: 1000px) {
    body {
      min-height: calc(100vh + 550px);
    }
  }

a{
    text-decoration: none;
}

.header {
    background: linear-gradient(to right, #1b416d , #ece3c4  );    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
   
}
.dropdown-menu.show {
    top: auto;
    bottom: 100%;
}
/* Estilos adicionales para ajustar el header según tus especificaciones */
.section1 {
    height: 15%; /* Altura común para todas las secciones */
    display: flex;
    align-items: center;
    border: none; /* Sin bordes divisorios entre las secciones */
}
.section-60 {
    height: 15%; /* Altura común para todas las secciones */
    display: flex;
    align-items: center;
    border: none; /* Sin bordes divisorios entre las secciones */

    flex-basis: 40%; /* 60% de ancho para esta sección */
}

.section-15 {
    flex-basis: 15%; /* 15% de ancho para cada una de estas secciones */
}

.section-text {
    color: black; /* Color del texto del header */
    font-family: Verdana;
    font-size: 20pt;
}  
  
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 1%;
  }

  th{
    width: 100%;
  }
 
.contRegistronuevo{
    padding-top: 2%;
}

.contTabla{
    padding-top:1%;
}




